<% content_for :title do %>WebLearn Status<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="10" data-view="JenkinsBuild" data-title="BUILD 10" data-min="0" data-max="100" data-prefix="#"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="10-run" data-view="JenkinsBuild" data-title="RUN 10" data-min="0" data-max="100" data-prefix="#"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="quota.afs" data-view="Number" data-title="Quota Usage" data-min="0" data-max="100" data-suffix="%"></div>
    </li>

  </ul>
</div>
