<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2.8" data-view="JenkinsBuild" data-title="2.8" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="10" data-view="JenkinsBuild" data-title="10" data-min="0" data-max="100"></div>
    </li>
  </ul>
</div>
