<% content_for :title do %>WebLearn status<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2.8" data-view="JenkinsBuild" data-title="BUILD 2.8" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="2.8-run" data-view="JenkinsBuild" data-title="RUN 2.8" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="10" data-view="JenkinsBuild" data-title="BUILD 10" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="10-run" data-view="JenkinsBuild" data-title="RUN 10" data-min="0" data-max="100"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="quota.afs" data-view="Number" data-title="Quota Usage" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="status" data-view="Status" data-title="WebLearn" data-group="weblearn"></div>
    </li>
  </ul>
</div>
